.skills {
  width: 100%;
  height: 930px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .separator {
  background-image: linear-gradient(
    hsla(102, 100%, 54%, 0),
    hsla(120, 100%, 32.9%, 0.3),
    hsla(102, 100%, 54%, 0)
  );
  width: 100%;
  height: 20vh;
} */

.skills_and_expertice {
  position: relative;
  width: min-content;
  font-size: 40px;
  left: 40%;
  top: 10%;
  /* padding-bottom: 20%; */
}

.all_skill_icons {
  position: relative;
  /* background-color: aliceblue; */
  width: 37%;
  height: 88%;
  left: 1%;
  display: flex;
  top: 3%;
  justify-content: space-around;
  flex-direction: column;
}

.see_all_icon_names_states {
  position: absolute;
  left: 3%;
  bottom: 0%;
  width: max-content;
}

.icon_container {
  position: relative;
  /* background-color: rgb(255, 225, 0); */
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
}

.icon_container::before {
  /* background-color: aliceblue; */
  position: absolute;
  width: max-content;
  font-size: 16px;
  bottom: 155%;
  color: white;
}

.icon {
  width: 100%;
  height: 100%;
  fill: var(--main_tittle_color);
}

.icon_column {
  display: flex;
  justify-content: space-around;
}

.c_1 {
  bottom: 50%;
}

.c_3 {
  top: 50%;
}

.c::before {
  content: "C";
  left: 145%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.c_plus_plus::before {
  content: "C + +";
  left: 125%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.python::before {
  content: "python";
  left: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.javascript::before {
  content: "javascript";
  left: 85%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.java::before {
  content: "java";
  left: 115%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.sql::before {
  content: "sql";
  left: 125%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.html_::before {
  content: "html";
  left: 115%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.css_::before {
  content: "css";
  left: 125%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.git_::before {
  content: "git";
  left: 125%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.show_titles::before {
  opacity: 1;
  transition-delay: 2000ms;
}

.c:hover::before,
.c_plus_plus:hover::before,
.python:hover::before,
.javascript:hover::before,
.java:hover::before,
.sql:hover::before,
.html_:hover::before,
.css_:hover::before,
.git_:hover::before {
  transition-delay: 2000ms;
  opacity: 1;
}

.skill_percentage {
  /* background-color: mediumturquoise; */
  width: 20px;
  height: 20px;
  position: absolute;
  top: 109%;
  left: -50%;
  color: white;
}

.expertice {
  /* background-color: white; */
  width: 45%;
  height: 100%;
}

.expertice_paragraph {
  background-image: radial-gradient(white 0.5px, transparent 1px);
  background-size: 25px 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  min-width: 510px;
  max-width: 700px;
  height: 50%;
  z-index: 2;
  overflow: auto;
}

.expertice_paragraph .paragraph {
  width: 98%;
  font-family: "VT323", monospace;
  font-size: x-large;
}

.expertice_header {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.expertice_paragraph .paragraph {
  color: white;
}

.tech_stack {
  position: relative;
  /* background-color: rgb(255, 255, 255); */
  width: 510px;
  height: 15%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.stack_icon_container {
  display: flex;
  justify-content: space-between;
}

.stack_title {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  font-size: larger;
  color: white;
}

.flask {
  fill: white;
}

.vuejs > * {
  fill: white !important;
  width: 100%;
  height: 100%;
}

.react_icon > * {
  fill: white !important;
  width: 100%;
  height: 100%;
}

.flask::after {
  content: "Flask";
}

.react_icon::after {
  content: "React";
}

.vuejs::after {
  content: "Vue.js";
}

.bulma::after {
  content: "Bulma";
}

.django::after {
  content: "Django";
  left: 0 !important;
}

.flask::after,
.react_icon::after,
.vuejs::after,
.bulma::after,
.django::after {
  position: absolute;
  width: fit-content;
  height: 10px;
  top: 100%;
  left: 10%;
  color: white;
  opacity: 0;
}

.flask:hover::after,
.react_icon:hover::after,
.vuejs:hover::after,
.bulma:hover::after,
.django:hover::after {
  opacity: 1;
}

@media (width < 1000px) {
  .skills_and_expertice {
    font-size: 30px;
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
  }

  .skills {
    flex-direction: column-reverse;
    height: 2000px;
  }

  .all_skill_icons::after {
    position: absolute;
    content: "Technical Skills";
    width: max-content;
    font-size: 20px;
    color: white;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  .all_skill_icons {
    height: 800px;
    width: 70%;
  }

  .expertice {
    width: 80%;
    height: 1000px;
  }

  .tech_stack {
    top: 25%;
  }

  .expertice_header {
    font-size: 20px;
  }

  .paragraph {
    font-size: 15px;
  }

  .see_all_icon_names_states {
    bottom: 4%;
  }
}

@media (width < 655px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  .all_skill_icons {
    height: 800px;
    width: 60%;
    /* left: 0%; */
  }

  .progressbar_container {
    width: 70px;
    height: 20px;
  }

  .c::before {
    left: 120%;
    bottom: 160%;
  }

  .c_plus_plus::before {
    left: 105%;
    bottom: 160%;
  }

  .python::before {
    left: 80%;
    bottom: 160%;
  }

  .javascript::before {
    left: 65%;
    bottom: 160%;
  }

  .java::before {
    left: 100%;
    bottom: 160%;
  }

  .sql::before {
    left: 105%;
    bottom: 160%;
  }

  .html_::before {
    left: 100%;
    bottom: 160%;
  }

  .css_::before {
    left: 105%;
    bottom: 160%;
  }

  .git_::before {
    left: 105%;
    bottom: 160%;
  }

  .c::before,
  .c_plus_plus::before,
  .python::before,
  .javascript::before,
  .java::before,
  .sql::before,
  .html_::before,
  .css_::before,
  .git_::before {
    font-size: 13px;
  }

  .tech_stack {
    min-width: 300px;
    width: 100%;
  }

  .stack_icon_container .icon_container {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  .skills_and_expertice {
    font-size: 30px;
    transform: translateX(-50%);
    left: 50%;
    width: min-content;
  }

  .expertice_paragraph {
    height: 600px;
    min-width: 350px;
  }

  .tech_stack {
    top: 18%;
  }

  .paragraph {
    font-size: 13px;
  }

  .flask::after,
  .react_icon::after,
  .vuejs::after,
  .bulma::after,
  .django::after {
    font-size: 10px;
  }
}
